<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %} Общайся и находи друзей! {% endblock %}</title>
  <!-- Загрузка статики -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <noscript>
    <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
</head>

<body class="is-preload">
  <div id="page-wrapper">
    {% include 'nav.html' %}
    
    <main>


      <!-- your code inside -->

      <!-- Background image -->

      <!-- Background image -->
      {% block content %}
      <!-- Содержимое страницы -->
      {% endblock content %}
    </main>
  </div>
  {% include 'footer.html' %}
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
  <script src="{% static 'assets/js/browser.min.js' %}"></script>
  <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'assets/js/util.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
