<div class="card mb-3 mt-1 shadow-sm">
    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}

    <!-- Отображение текста поста -->
    <div class="card text-white bg-dark mb-3">
        <a class="card-text">
            <header>
                <!-- Отображение иконки пользователя поста -->
                {% for picture in post.author.author_img.all %}
                {% load thumbnail %}
                {% thumbnail picture.image_author "20x20" upscale=False as im %}
                <img src="{{ im.url }}" style="margin-bottom: -3px">
                {% endthumbnail %}
                {% endfor%}
                <!-- Отображение имени пользователя, даты поста -->
                <span name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
                    <strong>&ensp;{{ post.author }}</strong>
                    <small class="text-muted">&ensp;&ensp;{{ post.pub_date }}</small>
                </span>
                {% if post.group %}
                <strong>&ensp;&ensp;Сообщество:&ensp;</strong>
                <a class="card-link" href="{% url 'group_posts' post.group.slug %}">
                    #{{ post.group.title }}
                </a>
                {% endif %}
                <h3>{{ post.title }}</h3>

                <p style="text-indent: 50px;" class="text-justify"> {{ post.text|linebreaksbr }}</p>
            </header>
        </a> <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->


        <!-- Отображение ссылки на комментарии -->
        <div class=" d-flex justify-content-between align-items-center" style="margin-top: 10px;">
            <div class="btn-group">
                <div>
                    <a href="{% url 'post' post.author.username post.id %}">
                        <i class="far fa-comment"> {{ post.comments.count }}</i></a>
                </div>
                &emsp;
                <!-- Отбражение лайков -->
                <div>
                    <a href="{% url 'like' post.author.username post.id %}">
                        <i class="fas fa-heart"> {{ post.liking.count }}</i>
                    </a>
                    <!-- Возвращение прокрутки на исходное место -->
                    <script>
                        document.addEventListener("DOMContentLoaded", function (event) {
                            var scrollpos = localStorage.getItem('scrollpos');
                            if (scrollpos) window.scrollTo(0, scrollpos);
                        });

                        window.onbeforeunload = function (e) {
                            localStorage.setItem('scrollpos', window.scrollY);
                        };
                    </script>
                </div>
                &emsp;

                <!-- Ссылка на редактирование поста для автора -->
                {% if user == post.author %}
                <div>
                    <a href="{% url 'post_edit' post.author.username post.id %}">
                        <i class="far fa-edit"></i>
                    </a>
                </div>
                &emsp;
                {% endif %}

                {% if user == post.author %}
                <div>
                    <a href="{% url 'delete_post' post.author.username post.id %}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </div>
                &emsp;
                {% endif %}

                <!-- Ссылка на группу автора -->

            </div>

            <!-- Дата публикации поста -->

        </div>
    </div>
    <hr style="border-width: 3px;">
</div>
