<section>
    <div class="card">
        <div class="card-body">
            <div class="h2">
                <!-- Имя автора -->
                {% load thumbnail %}
                {% thumbnail profile_id.image_author "500x500" crop="center" upscale=True as im %}
                <img class="card-img" src="{{ im.url }}" />
                {% endthumbnail %}
            </div>
            {{ default_avatar }}
            <div style="text-align:justify;">
                <em>
                    <h5>{{ profile_id.text_profile }}</h5>
                </em>
            </div>
            <div class="h2">
                {{ profile.get_full_name }}
            </div>
            <div class="h3 text-muted">
                <!-- username автора -->
                {{ profile.username }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Подписчиков:
                    {{ profile.following.count }} <br />
                    Подписан: {{ profile.follower.count }}
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                    <!-- Количество записей -->
                    Записей: {{ profile.posts.count }}

                </div>
                {% if profile != user %}
            <li class="list-group-item">

                {% if following %}
                <a class="button fit small" href="{% url 'profile_unfollow' profile.username %}" role="button">
                    Отписаться
                </a>
                {% else %}
                <a class="button fit small" href="{% url 'profile_follow' profile.username %}" role="button">
                    Подписаться
                </a>
                {% endif %}

            </li>
            {% endif %}
            </li>
        </ul>
    </div>
    </div>
</section>
